*.lock
config/fcitx/cached_layout
config/fcitx/clipboard/
config/fcitx/dbus/
config/fcitx/profile
config/fcitx/table/*.tmp
config/calcurse/apts
config/calcurse/todo
config/vifm/vifminfo
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage
