*.lock
config/fcitx5/cached_layouts
local/share/fcitx5/table
local/share/fcitx5/pinyin
config/calcurse/apts
config/calcurse/todo
config/vifm/vifminfo
config/vifm/vifmimgpdffile
config/vifm/vifmimgpdfpage
config/mpd/
config/systemd/user/graphical-session.target.wants
packages/
hiddenrc/wallpaper/Downloaded
