[Unit]
Description=gammastep forks by Redshit adjusts the color temperature of your screen according to your surroundings.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep

[Install]
WantedBy=graphical-session.target
