* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #153c3c;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.qutebrowser {
    background-color: #4F4F4F;
    border: none;
}

window#waybar.chromium {
    background-color: #4F4F4F;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-weather,
#custom-bandwidth,
#custom-pacman,
#custom-vpn,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 3px;
    color: #ffffff;
}

#clock {
    border-bottom: 3px solid #94727D;
}

#battery {
    border-bottom: 3px solid #64727D;
}

#battery.charging {
    border-bottom: 3px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    border-bottom: 3px solid #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    border-bottom: 3px solid #000000;
}

#backlight {
    border-bottom: 3px solid #90b1b1;
}

#network {
    border-bottom: 3px solid #2980b9;
}

#network.speed {
    border-bottom: none;
}

#network.disconnected {
    border-bottom: 3px solid #f53c3c;
}

#pulseaudio {
    border-bottom: 3px solid #f1c40f;
}

#pulseaudio.muted {
    border-bottom: 3px solid #90b1b1;
    color: #2a5c45;
}

#custom-media {
    border-bottom: 3px solid #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    border-bottom: 3px solid #66cc99;
}

#custom-media.custom-vlc {
    border-bottom: 3px solid #ffa000;
}

#temperature.critical {
    border-bottom: 3px solid #eb4d4b;
}

#idle_inhibitor {
    border-bottom: 3px solid #8d3436;
}

#idle_inhibitor.activated {
    border-bottom: 3px solid #ecf0f1;
    color: #9d3436;
}

#mpd {
    border-bottom: 3px solid #66cc99;
}

#mpd.disconnected {
    border-bottom: 3px solid #f53c3c;
}

#mpd.stopped {
    border-bottom: 3px solid #90b1b1;
}

#mpd.paused {
    border-bottom: 3px solid #51a37a;
}

#custom-weather {
    border-bottom: 3px solid #11ca09;
}

#custom-pacman {
    border-bottom: 3px solid #FF0000;
}

#custom-bandwidth {
    border-bottom: 3px solid #298000;
}

#custom-vpn.connected {
    border-bottom: 3px solid #2F8000;
    color: #2d3436;
}
